.title {
  color: white;
  display: flex;
  font-family: 'Game Over', sans-serif;
  font-size: 6em;
  justify-content: center;
  margin: 40px auto;
  position: relative;
  text-decoration: none;
  text-shadow: 4px 6px var(--superiority), 6px 8px var(--corn);
  width: var(--content-width);
}

@media (max-width: 1280px) {
  .title {
    font-size: 7em;
    line-height: 1em;
  }
}
