.card {
  margin: 0 auto;
  width: var(--content-width);
}

.card + .card {
  margin-top: 24px;
}

.p + .p {
  margin-top: 32px;
}

.h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1em;
  padding-bottom: 16px;
}
