.card {
  background-color: var(--baby-powder);
  border-radius: 2px;
  box-shadow: 4px 5px var(--mandarin);
  padding: 2em 3em;
  position: relative;
  z-index: 10;
}

@media only screen and (max-width: 720px) {
  .card {
    padding: 1em;
  }
}

