.card {
  background-color: var(--baby-powder);
  border-radius: 2px;
  box-shadow: 4px 5px var(--mandarin);
  font-family: 'Space Grotesk', sans-serif;
  padding: 2em 3em;
  position: relative;
  z-index: 10;
}

