.mintButton {
  display: block;
  font-size: 24px;
  margin: 48px auto;
  height: 64px;
  width: var(--content-width);
  background-color: var(--green);
  border-color: var(--green);
  color: var(--violet);
}
