.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 32px auto;
  width: var(--content-width);
}

.h2 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: -16px;
}

.h3 {
  font-size: 1.1em;
  margin-top: 16px;
  max-width: 100%;
  padding-bottom: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
