.showcaseContainer {
  margin: 56px auto 0;
  width: var(--content-width);
  text-align: center;
}
.showcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 24px;
}

.underline {
  text-decoration: line-through;
}
