.tokenContainer {
  background: white;
  border-radius: 2px;
  border: 1px solid var(--grey);
  box-shadow: 2px 2px var(--superiority);
  margin: 24px;
}

.token {
  background: black;
  color: white;
  font-family: 'Unimono', monospace;
  height: auto;
  line-height: 1.05;
  overflow: hidden;
  padding: 24px;
}

.tokenId {
  align-items: center;
  border-bottom: 1px solid var(--grey);
  display: flex;
  height: 48px;
  justify-content: center;
  padding: 0 24px;
  position: relative;
}

.shareButton {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 0.8em;
  color: grey;
}

.link {
  display: none;
}

.tokenContainer:hover .link {
  display: inline-block;
}
