.tokenContainer {
  background: white;
  border-radius: 2px;
  border: 1px solid var(--grey);
  box-shadow: 2px 2px var(--superiority);
  margin: 24px;
}

.token {
  background: black;
  color: white;
  font-family: 'Unimono', monospace;
  height: auto;
  line-height: 1.05;
  overflow: hidden;
  padding: 24px;
}

.tokenId {
  align-items: center;
  border-bottom: 1px solid var(--grey);
  display: flex;
  height: 48px;
  justify-content: space-between;
  padding: 0 16px;
  position: relative;
}

.shareButton {
  color: grey;
  cursor: pointer;
  font-size: 0.8em;
}

.link {
  visibility: hidden;
}

.tokenContainer:hover .link {
  visibility: initial;
}

.signatureIcon {
  color: var(--violet);
}
