.card {
  margin: 32px auto;
  width: var(--content-width);
}

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1em;
  overflow: hidden;
  padding-bottom: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
