.tokenContainer {
  background: white;
  border-radius: 2px;
  border: 1px solid var(--grey);
  box-shadow: 4px 5px var(--superiority);
  margin: 24px;
  padding: 24px;
}

.token {
  font-size: 33.2%;
  font-family: monospace;
  height: auto;
  letter-spacing: 0.5px;
  line-height: 0.9;
  margin-bottom: 0;
  overflow: hidden;
}

.tokenId {
  padding: 16px 16px 0;
}
