.navigation {
  align-items: center;
  background: var(--violet);
  display: flex;
  height: 48px;
  justify-content: space-between;
  padding: 16px 32px 0;
  position: absolute;
  width: 100%;
}

.button {
  flex-grow: 0;
  height: auto;
  position: relative;
  z-index: 1;
}

.button + .button {
  margin-left: 24px;
}

.spacer {
  flex-grow: 1;
}
