.navigation {
  align-items: center;
  display: flex;
  height: 56px;
  justify-content: space-between;
  padding: 0 32px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

@media (min-width: 1280px) {
  .button + .button {
    margin-left: 24px;
  }
}

@media (max-width: 1280px) {
  .navigation {
    position: absolute;
    padding: 16px 24px 0;
  }

  .button {
    font-size: 0.6em;
  }

  .button + .button {
    margin-left: 16px;
  }
}

.button {
  border: 1px solid var(--grey);
  flex-grow: 0;
  height: auto;
  line-height: 1em;
  margin-top: 8px;
  position: relative;
  z-index: 1;
  transition: 200ms ease transform, 200ms ease box-shadow, 200ms ease border;
}

.button:hover {
  border: 1px solid var(--superiority);
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 15%);
}

.spacer {
  flex-grow: 1;
}
