:root {
  --mandarin: #ed7e4b;
  --mint: #e4f1ec;
  --violet: #453d52;
  --corn: #f2e86d;
  --superiority: #669bbc;
}

.title {
  color: white;
  display: flex;
  font-family: 'Game Over', sans-serif;
  font-size: 6em;
  justify-content: center;
  margin: 40px auto;
  text-shadow: 4px 6px var(--superiority), 6px 8px var(--corn);
}

.body {
  background-color: var(--mint);
  border-radius: 2px;
  box-shadow: 4px 5px var(--mandarin);
  font-family: 'Space Grotesk', sans-serif;
  width: 73vw;
  margin: 0 auto;
  padding: 2em 3em;
}

.background {
  background-color: var(--violet);
  min-height: 100vh;
  overflow: auto;
}

.stars {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1687px 1571px #fff, 373px 619px #fff, 1022px 1189px #fff,
    188px 707px #fff, 1584px 685px #fff, 1095px 56px #fff, 879px 848px #fff,
    327px 290px #fff, 1090px 385px #fff, 20px 1957px #fff, 76px 562px #fff,
    1228px 1520px #fff, 1109px 1371px #fff, 1971px 969px #fff,
    1866px 1078px #fff, 1673px 1341px #fff, 511px 1001px #fff, 337px 820px #fff,
    1116px 51px #fff, 1367px 1906px #fff, 1436px 512px #fff, 1129px 1083px #fff,
    1285px 852px #fff, 1817px 633px #fff, 1480px 1000px #fff, 123px 538px #fff,
    1559px 874px #fff, 1252px 1300px #fff, 739px 961px #fff, 3px 1637px #fff,
    1846px 1394px #fff, 1312px 1288px #fff, 494px 7px #fff, 62px 760px #fff,
    1571px 1472px #fff, 874px 1250px #fff, 1800px 1328px #fff, 1882px 48px #fff,
    997px 602px #fff, 1560px 1968px #fff, 929px 1809px #fff, 78px 1865px #fff,
    1031px 568px #fff, 470px 584px #fff, 1712px 1287px #fff, 1952px 1951px #fff,
    1834px 1166px #fff, 1586px 1753px #fff, 748px 865px #fff, 728px 1180px #fff,
    933px 648px #fff, 1903px 564px #fff, 1578px 295px #fff, 81px 76px #fff,
    1532px 734px #fff, 1783px 207px #fff, 343px 1980px #fff, 1604px 1443px #fff,
    1689px 257px #fff, 1271px 353px #fff, 447px 1258px #fff, 373px 1115px #fff,
    1306px 254px #fff, 1007px 632px #fff, 728px 242px #fff, 217px 324px #fff,
    805px 759px #fff, 1842px 157px #fff, 532px 701px #fff, 1900px 563px #fff,
    330px 61px #fff, 960px 1294px #fff, 810px 1128px #fff, 121px 264px #fff,
    1047px 731px #fff, 581px 248px #fff, 1495px 144px #fff, 1647px 368px #fff,
    1804px 1626px #fff, 1425px 508px #fff, 1109px 18px #fff, 231px 260px #fff,
    1661px 327px #fff, 1797px 502px #fff, 1670px 693px #fff, 1910px 168px #fff,
    1286px 1578px #fff, 1825px 1942px #fff, 1445px 205px #fff,
    1155px 1602px #fff, 1961px 1649px #fff, 1422px 1666px #fff,
    1518px 1291px #fff, 1220px 1855px #fff, 406px 63px #fff, 1253px 1313px #fff,
    982px 1156px #fff, 953px 21px #fff, 209px 842px #fff, 1428px 1443px #fff,
    19px 38px #fff, 88px 585px #fff, 1159px 151px #fff, 1282px 1261px #fff,
    1668px 8px #fff, 716px 173px #fff, 1598px 1060px #fff, 663px 1448px #fff,
    1031px 430px #fff, 1441px 186px #fff, 1305px 152px #fff, 173px 66px #fff,
    1978px 838px #fff, 873px 586px #fff, 41px 742px #fff, 1333px 111px #fff,
    1210px 223px #fff, 1261px 959px #fff, 64px 972px #fff, 813px 304px #fff,
    754px 491px #fff, 1439px 309px #fff, 326px 827px #fff, 1959px 303px #fff,
    553px 974px #fff, 37px 113px #fff, 879px 1042px #fff, 1263px 1249px #fff,
    1368px 537px #fff, 63px 1365px #fff, 1471px 1950px #fff, 1416px 945px #fff,
    173px 482px #fff, 1775px 1722px #fff, 1594px 1982px #fff, 810px 788px #fff,
    366px 447px #fff, 710px 1864px #fff, 1058px 1825px #fff, 97px 225px #fff,
    1180px 1240px #fff, 119px 65px #fff, 1599px 814px #fff, 509px 396px #fff,
    881px 1401px #fff, 986px 173px #fff, 149px 1051px #fff, 682px 1546px #fff,
    1799px 7px #fff, 470px 487px #fff, 1342px 55px #fff, 1647px 1877px #fff,
    898px 340px #fff, 376px 53px #fff, 552px 1312px #fff, 1719px 421px #fff,
    1111px 1934px #fff, 151px 498px #fff, 11px 56px #fff, 596px 270px #fff,
    1746px 1658px #fff, 1838px 71px #fff, 920px 751px #fff, 1613px 1464px #fff,
    925px 468px #fff, 1156px 267px #fff, 27px 1717px #fff, 61px 71px #fff,
    875px 1475px #fff, 1934px 23px #fff, 426px 1490px #fff, 796px 1554px #fff,
    1203px 1462px #fff, 542px 871px #fff, 1593px 615px #fff, 893px 1911px #fff,
    470px 142px #fff, 1689px 1347px #fff, 469px 1417px #fff, 248px 428px #fff,
    1609px 1065px #fff, 465px 850px #fff, 1781px 1203px #fff, 845px 1545px #fff,
    122px 1576px #fff, 506px 1049px #fff, 765px 967px #fff, 1890px 1855px #fff,
    1761px 1986px #fff, 1018px 36px #fff, 870px 1995px #fff, 41px 557px #fff,
    383px 1823px #fff, 1880px 560px #fff, 1402px 589px #fff, 498px 798px #fff,
    580px 413px #fff, 577px 1293px #fff, 522px 679px #fff, 568px 905px #fff,
    1360px 124px #fff, 160px 173px #fff, 294px 996px #fff, 85px 1864px #fff,
    1522px 1833px #fff, 51px 144px #fff, 1448px 690px #fff, 799px 1450px #fff,
    733px 1236px #fff, 109px 1744px #fff, 957px 1672px #fff, 1846px 882px #fff,
    1106px 406px #fff, 540px 592px #fff, 1900px 200px #fff, 1417px 1040px #fff,
    288px 1270px #fff, 1675px 1434px #fff, 1587px 940px #fff, 880px 115px #fff,
    1843px 91px #fff, 1319px 877px #fff, 89px 1785px #fff, 1003px 164px #fff,
    155px 1493px #fff, 1810px 298px #fff, 519px 1253px #fff, 799px 1177px #fff,
    1428px 1756px #fff, 403px 417px #fff, 1165px 38px #fff, 99px 856px #fff,
    328px 1379px #fff, 679px 913px #fff, 1389px 628px #fff, 59px 1057px #fff,
    147px 688px #fff, 1781px 1787px #fff, 31px 1707px #fff, 81px 1012px #fff,
    380px 811px #fff, 492px 1482px #fff, 1018px 299px #fff, 758px 680px #fff,
    348px 1905px #fff, 1059px 903px #fff, 478px 1051px #fff, 1271px 632px #fff,
    674px 1120px #fff, 1467px 1157px #fff, 190px 1826px #fff, 1892px 1602px #fff,
    462px 1826px #fff, 1265px 1016px #fff, 1648px 509px #fff, 1669px 868px #fff,
    360px 1220px #fff, 1116px 553px #fff, 354px 112px #fff, 678px 1220px #fff,
    823px 1499px #fff, 1178px 1538px #fff, 604px 356px #fff, 1821px 106px #fff,
    1457px 102px #fff, 162px 1700px #fff, 96px 1189px #fff, 367px 1936px #fff,
    736px 1036px #fff, 985px 138px #fff, 1034px 1068px #fff, 826px 79px #fff,
    709px 1277px #fff, 820px 505px #fff, 1798px 922px #fff, 135px 380px #fff,
    999px 1423px #fff, 915px 1105px #fff, 471px 503px #fff, 1555px 1517px #fff,
    847px 1970px #fff, 916px 1059px #fff, 1103px 876px #fff, 1925px 1592px #fff,
    413px 577px #fff, 880px 1043px #fff, 1221px 828px #fff, 921px 975px #fff,
    610px 466px #fff, 36px 1363px #fff, 1794px 96px #fff, 683px 1671px #fff,
    1092px 858px #fff, 1014px 1636px #fff, 694px 1343px #fff, 269px 246px #fff,
    421px 1927px #fff, 292px 744px #fff, 1109px 1153px #fff, 1003px 628px #fff,
    878px 1095px #fff, 568px 1383px #fff, 190px 1692px #fff, 1859px 32px #fff,
    238px 1512px #fff, 1296px 650px #fff, 669px 1807px #fff, 1742px 1013px #fff,
    1754px 376px #fff, 1453px 801px #fff, 1573px 1576px #fff, 1905px 1008px #fff,
    1963px 1314px #fff, 389px 1744px #fff, 1605px 1784px #fff, 866px 1985px #fff,
    665px 580px #fff, 1355px 759px #fff, 1746px 701px #fff, 9px 156px #fff,
    942px 1153px #fff, 1996px 1117px #fff, 972px 1673px #fff, 628px 1188px #fff,
    420px 1368px #fff, 1637px 1637px #fff, 140px 162px #fff, 1261px 1367px #fff,
    667px 662px #fff, 273px 849px #fff, 1975px 749px #fff, 1163px 1627px #fff,
    1961px 1089px #fff, 1434px 1081px #fff, 372px 1285px #fff, 841px 179px #fff,
    1818px 167px #fff, 213px 1283px #fff, 204px 824px #fff, 1005px 762px #fff,
    1056px 534px #fff, 545px 992px #fff, 122px 987px #fff, 1099px 1777px #fff,
    930px 1217px #fff, 1993px 1044px #fff, 1064px 1970px #fff, 952px 1719px #fff,
    1754px 1706px #fff, 977px 857px #fff, 788px 894px #fff, 168px 1999px #fff,
    1411px 1499px #fff, 88px 565px #fff, 1392px 1495px #fff, 558px 1723px #fff,
    1896px 623px #fff, 865px 551px #fff, 1339px 629px #fff, 357px 1071px #fff,
    1427px 235px #fff, 228px 428px #fff, 685px 253px #fff, 23px 1062px #fff,
    1248px 397px #fff, 625px 1431px #fff, 183px 1468px #fff, 1850px 91px #fff,
    551px 1610px #fff, 1714px 1460px #fff, 1339px 667px #fff, 344px 908px #fff,
    691px 331px #fff, 1121px 841px #fff, 67px 1760px #fff, 982px 443px #fff,
    1493px 722px #fff, 1814px 926px #fff, 1831px 1078px #fff, 58px 1381px #fff,
    565px 579px #fff, 731px 1300px #fff, 1216px 1976px #fff, 1280px 853px #fff,
    1365px 1790px #fff, 1129px 614px #fff, 397px 583px #fff, 1733px 852px #fff,
    209px 1955px #fff, 938px 196px #fff, 515px 641px #fff, 1356px 1855px #fff,
    165px 1613px #fff, 1530px 1670px #fff, 693px 129px #fff, 1027px 674px #fff,
    469px 1252px #fff, 1905px 1020px #fff, 1639px 47px #fff, 1776px 1840px #fff,
    839px 1765px #fff, 251px 1271px #fff, 728px 747px #fff, 1796px 1316px #fff,
    88px 1881px #fff, 227px 1262px #fff, 1921px 538px #fff, 837px 473px #fff,
    1819px 1960px #fff, 1439px 134px #fff, 1519px 1419px #fff, 595px 767px #fff,
    414px 415px #fff, 699px 967px #fff, 775px 655px #fff, 24px 1966px #fff,
    1862px 207px #fff, 270px 1017px #fff, 1842px 1515px #fff, 1867px 1333px #fff,
    1353px 1407px #fff, 1677px 916px #fff, 1185px 673px #fff, 1839px 14px #fff,
    1410px 797px #fff, 373px 1845px #fff, 785px 1830px #fff, 1932px 766px #fff,
    380px 173px #fff, 876px 1723px #fff, 792px 1562px #fff, 1800px 26px #fff,
    548px 716px #fff, 1858px 1169px #fff, 1228px 1434px #fff, 517px 1206px #fff,
    611px 445px #fff, 1105px 754px #fff, 1430px 1605px #fff, 1829px 1726px #fff,
    14px 1752px #fff, 416px 625px #fff, 425px 1289px #fff, 1270px 1367px #fff,
    1744px 1097px #fff, 1137px 265px #fff, 675px 1464px #fff, 1300px 915px #fff,
    618px 1661px #fff, 1138px 1291px #fff, 1824px 833px #fff, 1476px 391px #fff,
    888px 1479px #fff, 1120px 1964px #fff, 1596px 30px #fff, 1144px 591px #fff,
    350px 591px #fff, 1521px 1446px #fff, 1238px 1746px #fff, 1290px 933px #fff,
    703px 331px #fff, 1401px 478px #fff, 1189px 1955px #fff, 96px 837px #fff,
    810px 757px #fff, 78px 766px #fff, 1055px 1300px #fff, 1498px 367px #fff,
    1983px 22px #fff, 1138px 284px #fff, 1968px 1236px #fff, 1504px 66px #fff,
    1315px 1318px #fff, 1389px 713px #fff, 699px 1228px #fff, 1032px 362px #fff,
    49px 1799px #fff, 729px 1630px #fff, 586px 855px #fff, 802px 614px #fff,
    1024px 472px #fff, 1362px 833px #fff, 743px 638px #fff, 64px 1620px #fff,
    1899px 1106px #fff, 1278px 1045px #fff, 315px 1638px #fff,
    1378px 1074px #fff, 800px 441px #fff, 226px 301px #fff, 1489px 497px #fff,
    1213px 496px #fff, 1811px 953px #fff, 898px 638px #fff, 532px 1799px #fff,
    425px 1443px #fff, 294px 771px #fff, 1899px 284px #fff, 70px 1666px #fff,
    1801px 396px #fff, 1510px 647px #fff, 1855px 71px #fff, 1322px 385px #fff,
    22px 619px #fff, 893px 264px #fff, 1401px 457px #fff, 1731px 219px #fff,
    1854px 1622px #fff, 1352px 1868px #fff, 251px 1381px #fff, 1973px 952px #fff,
    458px 694px #fff, 1528px 1010px #fff, 1263px 502px #fff, 1368px 470px #fff,
    917px 849px #fff, 1770px 1078px #fff, 1460px 1126px #fff, 1292px 1181px #fff,
    199px 611px #fff, 305px 1269px #fff, 658px 232px #fff, 1027px 658px #fff,
    525px 994px #fff, 832px 1659px #fff, 438px 1393px #fff, 826px 1185px #fff,
    5px 1893px #fff, 1223px 125px #fff, 1892px 1416px #fff, 115px 431px #fff,
    584px 219px #fff, 1231px 794px #fff, 1488px 1752px #fff, 275px 1483px #fff,
    1631px 1057px #fff, 521px 1823px #fff, 1433px 1534px #fff, 526px 728px #fff,
    1037px 1515px #fff, 444px 973px #fff, 160px 1868px #fff, 1430px 1480px #fff,
    875px 1218px #fff, 289px 1450px #fff, 1805px 1554px #fff, 620px 595px #fff,
    1585px 1112px #fff, 606px 990px #fff, 1264px 1611px #fff, 858px 847px #fff,
    636px 737px #fff, 1351px 1678px #fff, 1486px 1162px #fff, 1054px 1690px #fff,
    153px 1051px #fff, 434px 538px #fff, 1215px 129px #fff, 1718px 596px #fff,
    415px 1466px #fff, 819px 962px #fff, 937px 426px #fff, 385px 1571px #fff,
    796px 1607px #fff, 170px 328px #fff, 400px 791px #fff, 939px 1602px #fff,
    857px 1016px #fff, 1746px 195px #fff, 1454px 79px #fff, 256px 1051px #fff,
    1550px 1213px #fff, 40px 1817px #fff, 304px 1626px #fff, 527px 938px #fff,
    231px 129px #fff, 1068px 1114px #fff, 1597px 1047px #fff, 1584px 1477px #fff,
    791px 455px #fff, 1859px 1675px #fff, 1468px 3px #fff, 575px 422px #fff,
    546px 1896px #fff, 33px 717px #fff, 1630px 438px #fff, 628px 1902px #fff,
    640px 1781px #fff, 1096px 546px #fff, 216px 744px #fff, 1256px 1312px #fff,
    1890px 1395px #fff, 1393px 1232px #fff, 1639px 1312px #fff, 792px 644px #fff,
    1637px 451px #fff, 1361px 1168px #fff, 1034px 202px #fff, 1814px 241px #fff,
    967px 1433px #fff, 454px 1576px #fff, 1821px 283px #fff, 1792px 942px #fff,
    1337px 1239px #fff, 278px 1382px #fff, 790px 986px #fff, 1595px 506px #fff,
    404px 849px #fff, 917px 1781px #fff, 1372px 1448px #fff, 1072px 1717px #fff,
    940px 1165px #fff, 466px 1937px #fff, 316px 780px #fff, 864px 1300px #fff,
    420px 504px #fff, 1635px 883px #fff, 3px 1695px #fff, 1246px 1300px #fff,
    1127px 1667px #fff, 988px 698px #fff, 9px 1863px #fff, 464px 221px #fff,
    751px 665px #fff, 1152px 959px #fff, 1753px 1344px #fff, 167px 705px #fff,
    1552px 904px #fff, 1654px 1609px #fff, 459px 275px #fff, 614px 1589px #fff,
    97px 649px #fff, 1283px 924px #fff, 240px 1079px #fff, 857px 359px #fff,
    1106px 1778px #fff, 664px 1955px #fff, 1113px 1488px #fff,
    1454px 1008px #fff, 168px 944px #fff, 1018px 1253px #fff, 456px 777px #fff,
    455px 1805px #fff, 1920px 1658px #fff, 1487px 1915px #fff, 1851px 120px #fff,
    490px 650px #fff, 761px 1091px #fff, 38px 1774px #fff, 508px 1633px #fff,
    1544px 1485px #fff, 404px 1805px #fff, 640px 21px #fff, 785px 123px #fff,
    821px 1500px #fff, 255px 97px #fff, 865px 664px #fff, 997px 1031px #fff,
    72px 903px #fff, 402px 286px #fff, 1797px 1953px #fff, 1434px 363px #fff,
    1363px 1952px #fff, 1985px 1732px #fff, 1470px 1163px #fff,
    1366px 202px #fff, 869px 1067px #fff, 1749px 1320px #fff, 22px 1549px #fff,
    1170px 1236px #fff, 679px 1053px #fff, 469px 1973px #fff, 1573px 594px #fff,
    525px 1882px #fff, 1511px 1082px #fff, 518px 806px #fff, 504px 906px #fff,
    305px 1824px #fff, 424px 1539px #fff, 230px 1321px #fff, 726px 1533px #fff,
    671px 892px #fff, 1642px 722px #fff, 1274px 1103px #fff, 579px 1172px #fff,
    1240px 1968px #fff, 1075px 437px #fff, 1442px 673px #fff, 1115px 1193px #fff,
    1313px 1013px #fff, 1433px 718px #fff, 570px 1299px #fff, 511px 1574px #fff,
    1567px 1453px #fff, 903px 1889px #fff, 1885px 786px #fff, 1893px 1728px #fff,
    1211px 945px #fff, 1210px 1762px #fff, 240px 1987px #fff;
  animation: animStar 150s linear infinite;
}
.stars:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1687px 1571px #fff, 373px 619px #fff, 1022px 1189px #fff,
    188px 707px #fff, 1584px 685px #fff, 1095px 56px #fff, 879px 848px #fff,
    327px 290px #fff, 1090px 385px #fff, 20px 1957px #fff, 76px 562px #fff,
    1228px 1520px #fff, 1109px 1371px #fff, 1971px 969px #fff,
    1866px 1078px #fff, 1673px 1341px #fff, 511px 1001px #fff, 337px 820px #fff,
    1116px 51px #fff, 1367px 1906px #fff, 1436px 512px #fff, 1129px 1083px #fff,
    1285px 852px #fff, 1817px 633px #fff, 1480px 1000px #fff, 123px 538px #fff,
    1559px 874px #fff, 1252px 1300px #fff, 739px 961px #fff, 3px 1637px #fff,
    1846px 1394px #fff, 1312px 1288px #fff, 494px 7px #fff, 62px 760px #fff,
    1571px 1472px #fff, 874px 1250px #fff, 1800px 1328px #fff, 1882px 48px #fff,
    997px 602px #fff, 1560px 1968px #fff, 929px 1809px #fff, 78px 1865px #fff,
    1031px 568px #fff, 470px 584px #fff, 1712px 1287px #fff, 1952px 1951px #fff,
    1834px 1166px #fff, 1586px 1753px #fff, 748px 865px #fff, 728px 1180px #fff,
    933px 648px #fff, 1903px 564px #fff, 1578px 295px #fff, 81px 76px #fff,
    1532px 734px #fff, 1783px 207px #fff, 343px 1980px #fff, 1604px 1443px #fff,
    1689px 257px #fff, 1271px 353px #fff, 447px 1258px #fff, 373px 1115px #fff,
    1306px 254px #fff, 1007px 632px #fff, 728px 242px #fff, 217px 324px #fff,
    805px 759px #fff, 1842px 157px #fff, 532px 701px #fff, 1900px 563px #fff,
    330px 61px #fff, 960px 1294px #fff, 810px 1128px #fff, 121px 264px #fff,
    1047px 731px #fff, 581px 248px #fff, 1495px 144px #fff, 1647px 368px #fff,
    1804px 1626px #fff, 1425px 508px #fff, 1109px 18px #fff, 231px 260px #fff,
    1661px 327px #fff, 1797px 502px #fff, 1670px 693px #fff, 1910px 168px #fff,
    1286px 1578px #fff, 1825px 1942px #fff, 1445px 205px #fff,
    1155px 1602px #fff, 1961px 1649px #fff, 1422px 1666px #fff,
    1518px 1291px #fff, 1220px 1855px #fff, 406px 63px #fff, 1253px 1313px #fff,
    982px 1156px #fff, 953px 21px #fff, 209px 842px #fff, 1428px 1443px #fff,
    19px 38px #fff, 88px 585px #fff, 1159px 151px #fff, 1282px 1261px #fff,
    1668px 8px #fff, 716px 173px #fff, 1598px 1060px #fff, 663px 1448px #fff,
    1031px 430px #fff, 1441px 186px #fff, 1305px 152px #fff, 173px 66px #fff,
    1978px 838px #fff, 873px 586px #fff, 41px 742px #fff, 1333px 111px #fff,
    1210px 223px #fff, 1261px 959px #fff, 64px 972px #fff, 813px 304px #fff,
    754px 491px #fff, 1439px 309px #fff, 326px 827px #fff, 1959px 303px #fff,
    553px 974px #fff, 37px 113px #fff, 879px 1042px #fff, 1263px 1249px #fff,
    1368px 537px #fff, 63px 1365px #fff, 1471px 1950px #fff, 1416px 945px #fff,
    173px 482px #fff, 1775px 1722px #fff, 1594px 1982px #fff, 810px 788px #fff,
    366px 447px #fff, 710px 1864px #fff, 1058px 1825px #fff, 97px 225px #fff,
    1180px 1240px #fff, 119px 65px #fff, 1599px 814px #fff, 509px 396px #fff,
    881px 1401px #fff, 986px 173px #fff, 149px 1051px #fff, 682px 1546px #fff,
    1799px 7px #fff, 470px 487px #fff, 1342px 55px #fff, 1647px 1877px #fff,
    898px 340px #fff, 376px 53px #fff, 552px 1312px #fff, 1719px 421px #fff,
    1111px 1934px #fff, 151px 498px #fff, 11px 56px #fff, 596px 270px #fff,
    1746px 1658px #fff, 1838px 71px #fff, 920px 751px #fff, 1613px 1464px #fff,
    925px 468px #fff, 1156px 267px #fff, 27px 1717px #fff, 61px 71px #fff,
    875px 1475px #fff, 1934px 23px #fff, 426px 1490px #fff, 796px 1554px #fff,
    1203px 1462px #fff, 542px 871px #fff, 1593px 615px #fff, 893px 1911px #fff,
    470px 142px #fff, 1689px 1347px #fff, 469px 1417px #fff, 248px 428px #fff,
    1609px 1065px #fff, 465px 850px #fff, 1781px 1203px #fff, 845px 1545px #fff,
    122px 1576px #fff, 506px 1049px #fff, 765px 967px #fff, 1890px 1855px #fff,
    1761px 1986px #fff, 1018px 36px #fff, 870px 1995px #fff, 41px 557px #fff,
    383px 1823px #fff, 1880px 560px #fff, 1402px 589px #fff, 498px 798px #fff,
    580px 413px #fff, 577px 1293px #fff, 522px 679px #fff, 568px 905px #fff,
    1360px 124px #fff, 160px 173px #fff, 294px 996px #fff, 85px 1864px #fff,
    1522px 1833px #fff, 51px 144px #fff, 1448px 690px #fff, 799px 1450px #fff,
    733px 1236px #fff, 109px 1744px #fff, 957px 1672px #fff, 1846px 882px #fff,
    1106px 406px #fff, 540px 592px #fff, 1900px 200px #fff, 1417px 1040px #fff,
    288px 1270px #fff, 1675px 1434px #fff, 1587px 940px #fff, 880px 115px #fff,
    1843px 91px #fff, 1319px 877px #fff, 89px 1785px #fff, 1003px 164px #fff,
    155px 1493px #fff, 1810px 298px #fff, 519px 1253px #fff, 799px 1177px #fff,
    1428px 1756px #fff, 403px 417px #fff, 1165px 38px #fff, 99px 856px #fff,
    328px 1379px #fff, 679px 913px #fff, 1389px 628px #fff, 59px 1057px #fff,
    147px 688px #fff, 1781px 1787px #fff, 31px 1707px #fff, 81px 1012px #fff,
    380px 811px #fff, 492px 1482px #fff, 1018px 299px #fff, 758px 680px #fff,
    348px 1905px #fff, 1059px 903px #fff, 478px 1051px #fff, 1271px 632px #fff,
    674px 1120px #fff, 1467px 1157px #fff, 190px 1826px #fff, 1892px 1602px #fff,
    462px 1826px #fff, 1265px 1016px #fff, 1648px 509px #fff, 1669px 868px #fff,
    360px 1220px #fff, 1116px 553px #fff, 354px 112px #fff, 678px 1220px #fff,
    823px 1499px #fff, 1178px 1538px #fff, 604px 356px #fff, 1821px 106px #fff,
    1457px 102px #fff, 162px 1700px #fff, 96px 1189px #fff, 367px 1936px #fff,
    736px 1036px #fff, 985px 138px #fff, 1034px 1068px #fff, 826px 79px #fff,
    709px 1277px #fff, 820px 505px #fff, 1798px 922px #fff, 135px 380px #fff,
    999px 1423px #fff, 915px 1105px #fff, 471px 503px #fff, 1555px 1517px #fff,
    847px 1970px #fff, 916px 1059px #fff, 1103px 876px #fff, 1925px 1592px #fff,
    413px 577px #fff, 880px 1043px #fff, 1221px 828px #fff, 921px 975px #fff,
    610px 466px #fff, 36px 1363px #fff, 1794px 96px #fff, 683px 1671px #fff,
    1092px 858px #fff, 1014px 1636px #fff, 694px 1343px #fff, 269px 246px #fff,
    421px 1927px #fff, 292px 744px #fff, 1109px 1153px #fff, 1003px 628px #fff,
    878px 1095px #fff, 568px 1383px #fff, 190px 1692px #fff, 1859px 32px #fff,
    238px 1512px #fff, 1296px 650px #fff, 669px 1807px #fff, 1742px 1013px #fff,
    1754px 376px #fff, 1453px 801px #fff, 1573px 1576px #fff, 1905px 1008px #fff,
    1963px 1314px #fff, 389px 1744px #fff, 1605px 1784px #fff, 866px 1985px #fff,
    665px 580px #fff, 1355px 759px #fff, 1746px 701px #fff, 9px 156px #fff,
    942px 1153px #fff, 1996px 1117px #fff, 972px 1673px #fff, 628px 1188px #fff,
    420px 1368px #fff, 1637px 1637px #fff, 140px 162px #fff, 1261px 1367px #fff,
    667px 662px #fff, 273px 849px #fff, 1975px 749px #fff, 1163px 1627px #fff,
    1961px 1089px #fff, 1434px 1081px #fff, 372px 1285px #fff, 841px 179px #fff,
    1818px 167px #fff, 213px 1283px #fff, 204px 824px #fff, 1005px 762px #fff,
    1056px 534px #fff, 545px 992px #fff, 122px 987px #fff, 1099px 1777px #fff,
    930px 1217px #fff, 1993px 1044px #fff, 1064px 1970px #fff, 952px 1719px #fff,
    1754px 1706px #fff, 977px 857px #fff, 788px 894px #fff, 168px 1999px #fff,
    1411px 1499px #fff, 88px 565px #fff, 1392px 1495px #fff, 558px 1723px #fff,
    1896px 623px #fff, 865px 551px #fff, 1339px 629px #fff, 357px 1071px #fff,
    1427px 235px #fff, 228px 428px #fff, 685px 253px #fff, 23px 1062px #fff,
    1248px 397px #fff, 625px 1431px #fff, 183px 1468px #fff, 1850px 91px #fff,
    551px 1610px #fff, 1714px 1460px #fff, 1339px 667px #fff, 344px 908px #fff,
    691px 331px #fff, 1121px 841px #fff, 67px 1760px #fff, 982px 443px #fff,
    1493px 722px #fff, 1814px 926px #fff, 1831px 1078px #fff, 58px 1381px #fff,
    565px 579px #fff, 731px 1300px #fff, 1216px 1976px #fff, 1280px 853px #fff,
    1365px 1790px #fff, 1129px 614px #fff, 397px 583px #fff, 1733px 852px #fff,
    209px 1955px #fff, 938px 196px #fff, 515px 641px #fff, 1356px 1855px #fff,
    165px 1613px #fff, 1530px 1670px #fff, 693px 129px #fff, 1027px 674px #fff,
    469px 1252px #fff, 1905px 1020px #fff, 1639px 47px #fff, 1776px 1840px #fff,
    839px 1765px #fff, 251px 1271px #fff, 728px 747px #fff, 1796px 1316px #fff,
    88px 1881px #fff, 227px 1262px #fff, 1921px 538px #fff, 837px 473px #fff,
    1819px 1960px #fff, 1439px 134px #fff, 1519px 1419px #fff, 595px 767px #fff,
    414px 415px #fff, 699px 967px #fff, 775px 655px #fff, 24px 1966px #fff,
    1862px 207px #fff, 270px 1017px #fff, 1842px 1515px #fff, 1867px 1333px #fff,
    1353px 1407px #fff, 1677px 916px #fff, 1185px 673px #fff, 1839px 14px #fff,
    1410px 797px #fff, 373px 1845px #fff, 785px 1830px #fff, 1932px 766px #fff,
    380px 173px #fff, 876px 1723px #fff, 792px 1562px #fff, 1800px 26px #fff,
    548px 716px #fff, 1858px 1169px #fff, 1228px 1434px #fff, 517px 1206px #fff,
    611px 445px #fff, 1105px 754px #fff, 1430px 1605px #fff, 1829px 1726px #fff,
    14px 1752px #fff, 416px 625px #fff, 425px 1289px #fff, 1270px 1367px #fff,
    1744px 1097px #fff, 1137px 265px #fff, 675px 1464px #fff, 1300px 915px #fff,
    618px 1661px #fff, 1138px 1291px #fff, 1824px 833px #fff, 1476px 391px #fff,
    888px 1479px #fff, 1120px 1964px #fff, 1596px 30px #fff, 1144px 591px #fff,
    350px 591px #fff, 1521px 1446px #fff, 1238px 1746px #fff, 1290px 933px #fff,
    703px 331px #fff, 1401px 478px #fff, 1189px 1955px #fff, 96px 837px #fff,
    810px 757px #fff, 78px 766px #fff, 1055px 1300px #fff, 1498px 367px #fff,
    1983px 22px #fff, 1138px 284px #fff, 1968px 1236px #fff, 1504px 66px #fff,
    1315px 1318px #fff, 1389px 713px #fff, 699px 1228px #fff, 1032px 362px #fff,
    49px 1799px #fff, 729px 1630px #fff, 586px 855px #fff, 802px 614px #fff,
    1024px 472px #fff, 1362px 833px #fff, 743px 638px #fff, 64px 1620px #fff,
    1899px 1106px #fff, 1278px 1045px #fff, 315px 1638px #fff,
    1378px 1074px #fff, 800px 441px #fff, 226px 301px #fff, 1489px 497px #fff,
    1213px 496px #fff, 1811px 953px #fff, 898px 638px #fff, 532px 1799px #fff,
    425px 1443px #fff, 294px 771px #fff, 1899px 284px #fff, 70px 1666px #fff,
    1801px 396px #fff, 1510px 647px #fff, 1855px 71px #fff, 1322px 385px #fff,
    22px 619px #fff, 893px 264px #fff, 1401px 457px #fff, 1731px 219px #fff,
    1854px 1622px #fff, 1352px 1868px #fff, 251px 1381px #fff, 1973px 952px #fff,
    458px 694px #fff, 1528px 1010px #fff, 1263px 502px #fff, 1368px 470px #fff,
    917px 849px #fff, 1770px 1078px #fff, 1460px 1126px #fff, 1292px 1181px #fff,
    199px 611px #fff, 305px 1269px #fff, 658px 232px #fff, 1027px 658px #fff,
    525px 994px #fff, 832px 1659px #fff, 438px 1393px #fff, 826px 1185px #fff,
    5px 1893px #fff, 1223px 125px #fff, 1892px 1416px #fff, 115px 431px #fff,
    584px 219px #fff, 1231px 794px #fff, 1488px 1752px #fff, 275px 1483px #fff,
    1631px 1057px #fff, 521px 1823px #fff, 1433px 1534px #fff, 526px 728px #fff,
    1037px 1515px #fff, 444px 973px #fff, 160px 1868px #fff, 1430px 1480px #fff,
    875px 1218px #fff, 289px 1450px #fff, 1805px 1554px #fff, 620px 595px #fff,
    1585px 1112px #fff, 606px 990px #fff, 1264px 1611px #fff, 858px 847px #fff,
    636px 737px #fff, 1351px 1678px #fff, 1486px 1162px #fff, 1054px 1690px #fff,
    153px 1051px #fff, 434px 538px #fff, 1215px 129px #fff, 1718px 596px #fff,
    415px 1466px #fff, 819px 962px #fff, 937px 426px #fff, 385px 1571px #fff,
    796px 1607px #fff, 170px 328px #fff, 400px 791px #fff, 939px 1602px #fff,
    857px 1016px #fff, 1746px 195px #fff, 1454px 79px #fff, 256px 1051px #fff,
    1550px 1213px #fff, 40px 1817px #fff, 304px 1626px #fff, 527px 938px #fff,
    231px 129px #fff, 1068px 1114px #fff, 1597px 1047px #fff, 1584px 1477px #fff,
    791px 455px #fff, 1859px 1675px #fff, 1468px 3px #fff, 575px 422px #fff,
    546px 1896px #fff, 33px 717px #fff, 1630px 438px #fff, 628px 1902px #fff,
    640px 1781px #fff, 1096px 546px #fff, 216px 744px #fff, 1256px 1312px #fff,
    1890px 1395px #fff, 1393px 1232px #fff, 1639px 1312px #fff, 792px 644px #fff,
    1637px 451px #fff, 1361px 1168px #fff, 1034px 202px #fff, 1814px 241px #fff,
    967px 1433px #fff, 454px 1576px #fff, 1821px 283px #fff, 1792px 942px #fff,
    1337px 1239px #fff, 278px 1382px #fff, 790px 986px #fff, 1595px 506px #fff,
    404px 849px #fff, 917px 1781px #fff, 1372px 1448px #fff, 1072px 1717px #fff,
    940px 1165px #fff, 466px 1937px #fff, 316px 780px #fff, 864px 1300px #fff,
    420px 504px #fff, 1635px 883px #fff, 3px 1695px #fff, 1246px 1300px #fff,
    1127px 1667px #fff, 988px 698px #fff, 9px 1863px #fff, 464px 221px #fff,
    751px 665px #fff, 1152px 959px #fff, 1753px 1344px #fff, 167px 705px #fff,
    1552px 904px #fff, 1654px 1609px #fff, 459px 275px #fff, 614px 1589px #fff,
    97px 649px #fff, 1283px 924px #fff, 240px 1079px #fff, 857px 359px #fff,
    1106px 1778px #fff, 664px 1955px #fff, 1113px 1488px #fff,
    1454px 1008px #fff, 168px 944px #fff, 1018px 1253px #fff, 456px 777px #fff,
    455px 1805px #fff, 1920px 1658px #fff, 1487px 1915px #fff, 1851px 120px #fff,
    490px 650px #fff, 761px 1091px #fff, 38px 1774px #fff, 508px 1633px #fff,
    1544px 1485px #fff, 404px 1805px #fff, 640px 21px #fff, 785px 123px #fff,
    821px 1500px #fff, 255px 97px #fff, 865px 664px #fff, 997px 1031px #fff,
    72px 903px #fff, 402px 286px #fff, 1797px 1953px #fff, 1434px 363px #fff,
    1363px 1952px #fff, 1985px 1732px #fff, 1470px 1163px #fff,
    1366px 202px #fff, 869px 1067px #fff, 1749px 1320px #fff, 22px 1549px #fff,
    1170px 1236px #fff, 679px 1053px #fff, 469px 1973px #fff, 1573px 594px #fff,
    525px 1882px #fff, 1511px 1082px #fff, 518px 806px #fff, 504px 906px #fff,
    305px 1824px #fff, 424px 1539px #fff, 230px 1321px #fff, 726px 1533px #fff,
    671px 892px #fff, 1642px 722px #fff, 1274px 1103px #fff, 579px 1172px #fff,
    1240px 1968px #fff, 1075px 437px #fff, 1442px 673px #fff, 1115px 1193px #fff,
    1313px 1013px #fff, 1433px 718px #fff, 570px 1299px #fff, 511px 1574px #fff,
    1567px 1453px #fff, 903px 1889px #fff, 1885px 786px #fff, 1893px 1728px #fff,
    1211px 945px #fff, 1210px 1762px #fff, 240px 1987px #fff;
}

.stars2 {
  width: 4px;
  height: 4px;
  background: transparent;
  box-shadow: 161px 865px #fff, 1005px 1265px #fff, 1262px 1257px #fff,
    435px 1674px #fff, 1499px 793px #fff, 1820px 1427px #fff, 1224px 968px #fff,
    200px 810px #fff, 1484px 1190px #fff, 1148px 1191px #fff, 1206px 468px #fff,
    617px 385px #fff, 735px 1518px #fff, 1993px 1923px #fff, 1316px 1974px #fff,
    693px 487px #fff, 1538px 151px #fff, 1937px 1883px #fff, 1624px 519px #fff,
    617px 234px #fff, 1387px 473px #fff, 1114px 662px #fff, 1212px 1589px #fff,
    1530px 486px #fff, 1234px 1685px #fff, 1153px 676px #fff, 1479px 1321px #fff,
    1219px 1313px #fff, 1566px 1640px #fff, 1453px 1236px #fff,
    1882px 1568px #fff, 338px 433px #fff, 65px 418px #fff, 1197px 552px #fff,
    1836px 1325px #fff, 294px 1194px #fff, 1330px 1310px #fff, 1010px 573px #fff,
    1537px 970px #fff, 1692px 1396px #fff, 701px 438px #fff, 1055px 1461px #fff,
    736px 1264px #fff, 824px 717px #fff, 644px 1293px #fff, 653px 1732px #fff,
    499px 1308px #fff, 1036px 1125px #fff, 1492px 1579px #fff, 1463px 151px #fff,
    1216px 437px #fff, 1198px 355px #fff, 1224px 584px #fff, 36px 299px #fff,
    1000px 708px #fff, 1160px 1585px #fff, 224px 1823px #fff, 1062px 1511px #fff,
    1387px 1460px #fff, 696px 1767px #fff, 560px 568px #fff, 725px 830px #fff,
    164px 1515px #fff, 1521px 1437px #fff, 960px 1533px #fff, 1401px 1917px #fff,
    1908px 1210px #fff, 1514px 561px #fff, 481px 1811px #fff, 216px 1198px #fff,
    1110px 858px #fff, 190px 1601px #fff, 1689px 1028px #fff, 1946px 530px #fff,
    875px 154px #fff, 772px 1202px #fff, 968px 508px #fff, 1929px 1539px #fff,
    1157px 1147px #fff, 124px 888px #fff, 69px 1080px #fff, 1822px 69px #fff,
    1545px 1527px #fff, 383px 1615px #fff, 856px 1421px #fff, 773px 1033px #fff,
    220px 407px #fff, 1693px 96px #fff, 1820px 329px #fff, 1365px 1159px #fff,
    1460px 847px #fff, 323px 193px #fff, 1783px 1853px #fff, 1176px 1822px #fff,
    1548px 1282px #fff, 1513px 345px #fff, 1479px 1781px #fff, 624px 240px #fff,
    1046px 1566px #fff, 1842px 11px #fff, 106px 490px #fff, 560px 1033px #fff,
    1764px 1472px #fff, 671px 1958px #fff, 1851px 1087px #fff, 859px 724px #fff,
    1755px 1694px #fff, 179px 733px #fff, 795px 781px #fff, 1793px 1048px #fff,
    617px 1586px #fff, 1462px 384px #fff, 288px 254px #fff, 1318px 647px #fff,
    1708px 809px #fff, 28px 262px #fff, 1251px 1406px #fff, 325px 662px #fff,
    1194px 1841px #fff, 1172px 572px #fff, 1474px 1166px #fff,
    1809px 1561px #fff, 399px 920px #fff, 1806px 1162px #fff, 404px 742px #fff,
    11px 730px #fff, 1723px 947px #fff, 522px 1062px #fff, 1218px 1536px #fff,
    1421px 808px #fff, 1896px 155px #fff, 111px 1356px #fff, 1048px 1971px #fff,
    407px 343px #fff, 517px 572px #fff, 586px 1605px #fff, 1880px 1156px #fff,
    683px 580px #fff, 293px 234px #fff, 360px 688px #fff, 706px 1033px #fff,
    1182px 1727px #fff, 1884px 556px #fff, 980px 569px #fff, 885px 320px #fff,
    1072px 1781px #fff, 1926px 465px #fff, 1503px 1293px #fff,
    1863px 1268px #fff, 900px 1149px #fff, 711px 435px #fff, 655px 1463px #fff,
    1577px 1437px #fff, 1170px 1600px #fff, 1408px 1353px #fff, 198px 671px #fff,
    1730px 1184px #fff, 1220px 1710px #fff, 82px 1329px #fff, 1131px 1894px #fff,
    736px 810px #fff, 311px 1244px #fff, 918px 496px #fff, 1251px 58px #fff,
    1400px 1802px #fff, 675px 702px #fff, 1693px 1567px #fff, 27px 1855px #fff,
    1072px 1985px #fff, 1821px 1551px #fff, 471px 937px #fff, 1388px 1781px #fff,
    1664px 1897px #fff, 1450px 1780px #fff, 1931px 334px #fff,
    1014px 1556px #fff, 905px 4px #fff, 163px 1548px #fff, 1965px 572px #fff,
    135px 1467px #fff, 1508px 1953px #fff, 1678px 1605px #fff, 1918px 167px #fff,
    1213px 1424px #fff, 145px 1998px #fff, 20px 445px #fff, 1309px 118px #fff,
    1348px 1412px #fff, 1158px 444px #fff, 156px 1838px #fff, 1434px 166px #fff,
    748px 112px #fff, 765px 1733px #fff, 1676px 817px #fff, 23px 740px #fff,
    303px 1203px #fff, 1822px 1017px #fff, 517px 1522px #fff, 1607px 1224px #fff,
    397px 106px #fff;
  animation: animStar 250s linear infinite;
}
.stars2:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 4px;
  height: 4px;
  background: transparent;
  box-shadow: 161px 865px #fff, 1005px 1265px #fff, 1262px 1257px #fff,
    435px 1674px #fff, 1499px 793px #fff, 1820px 1427px #fff, 1224px 968px #fff,
    200px 810px #fff, 1484px 1190px #fff, 1148px 1191px #fff, 1206px 468px #fff,
    617px 385px #fff, 735px 1518px #fff, 1993px 1923px #fff, 1316px 1974px #fff,
    693px 487px #fff, 1538px 151px #fff, 1937px 1883px #fff, 1624px 519px #fff,
    617px 234px #fff, 1387px 473px #fff, 1114px 662px #fff, 1212px 1589px #fff,
    1530px 486px #fff, 1234px 1685px #fff, 1153px 676px #fff, 1479px 1321px #fff,
    1219px 1313px #fff, 1566px 1640px #fff, 1453px 1236px #fff,
    1882px 1568px #fff, 338px 433px #fff, 65px 418px #fff, 1197px 552px #fff,
    1836px 1325px #fff, 294px 1194px #fff, 1330px 1310px #fff, 1010px 573px #fff,
    1537px 970px #fff, 1692px 1396px #fff, 701px 438px #fff, 1055px 1461px #fff,
    736px 1264px #fff, 824px 717px #fff, 644px 1293px #fff, 653px 1732px #fff,
    499px 1308px #fff, 1036px 1125px #fff, 1492px 1579px #fff, 1463px 151px #fff,
    1216px 437px #fff, 1198px 355px #fff, 1224px 584px #fff, 36px 299px #fff,
    1000px 708px #fff, 1160px 1585px #fff, 224px 1823px #fff, 1062px 1511px #fff,
    1387px 1460px #fff, 696px 1767px #fff, 560px 568px #fff, 725px 830px #fff,
    164px 1515px #fff, 1521px 1437px #fff, 960px 1533px #fff, 1401px 1917px #fff,
    1908px 1210px #fff, 1514px 561px #fff, 481px 1811px #fff, 216px 1198px #fff,
    1110px 858px #fff, 190px 1601px #fff, 1689px 1028px #fff, 1946px 530px #fff,
    875px 154px #fff, 772px 1202px #fff, 968px 508px #fff, 1929px 1539px #fff,
    1157px 1147px #fff, 124px 888px #fff, 69px 1080px #fff, 1822px 69px #fff,
    1545px 1527px #fff, 383px 1615px #fff, 856px 1421px #fff, 773px 1033px #fff,
    220px 407px #fff, 1693px 96px #fff, 1820px 329px #fff, 1365px 1159px #fff,
    1460px 847px #fff, 323px 193px #fff, 1783px 1853px #fff, 1176px 1822px #fff,
    1548px 1282px #fff, 1513px 345px #fff, 1479px 1781px #fff, 624px 240px #fff,
    1046px 1566px #fff, 1842px 11px #fff, 106px 490px #fff, 560px 1033px #fff,
    1764px 1472px #fff, 671px 1958px #fff, 1851px 1087px #fff, 859px 724px #fff,
    1755px 1694px #fff, 179px 733px #fff, 795px 781px #fff, 1793px 1048px #fff,
    617px 1586px #fff, 1462px 384px #fff, 288px 254px #fff, 1318px 647px #fff,
    1708px 809px #fff, 28px 262px #fff, 1251px 1406px #fff, 325px 662px #fff,
    1194px 1841px #fff, 1172px 572px #fff, 1474px 1166px #fff,
    1809px 1561px #fff, 399px 920px #fff, 1806px 1162px #fff, 404px 742px #fff,
    11px 730px #fff, 1723px 947px #fff, 522px 1062px #fff, 1218px 1536px #fff,
    1421px 808px #fff, 1896px 155px #fff, 111px 1356px #fff, 1048px 1971px #fff,
    407px 343px #fff, 517px 572px #fff, 586px 1605px #fff, 1880px 1156px #fff,
    683px 580px #fff, 293px 234px #fff, 360px 688px #fff, 706px 1033px #fff,
    1182px 1727px #fff, 1884px 556px #fff, 980px 569px #fff, 885px 320px #fff,
    1072px 1781px #fff, 1926px 465px #fff, 1503px 1293px #fff,
    1863px 1268px #fff, 900px 1149px #fff, 711px 435px #fff, 655px 1463px #fff,
    1577px 1437px #fff, 1170px 1600px #fff, 1408px 1353px #fff, 198px 671px #fff,
    1730px 1184px #fff, 1220px 1710px #fff, 82px 1329px #fff, 1131px 1894px #fff,
    736px 810px #fff, 311px 1244px #fff, 918px 496px #fff, 1251px 58px #fff,
    1400px 1802px #fff, 675px 702px #fff, 1693px 1567px #fff, 27px 1855px #fff,
    1072px 1985px #fff, 1821px 1551px #fff, 471px 937px #fff, 1388px 1781px #fff,
    1664px 1897px #fff, 1450px 1780px #fff, 1931px 334px #fff,
    1014px 1556px #fff, 905px 4px #fff, 163px 1548px #fff, 1965px 572px #fff,
    135px 1467px #fff, 1508px 1953px #fff, 1678px 1605px #fff, 1918px 167px #fff,
    1213px 1424px #fff, 145px 1998px #fff, 20px 445px #fff, 1309px 118px #fff,
    1348px 1412px #fff, 1158px 444px #fff, 156px 1838px #fff, 1434px 166px #fff,
    748px 112px #fff, 765px 1733px #fff, 1676px 817px #fff, 23px 740px #fff,
    303px 1203px #fff, 1822px 1017px #fff, 517px 1522px #fff, 1607px 1224px #fff,
    397px 106px #fff;
}

.stars3 {
  width: 5px;
  height: 5px;
  background: transparent;
  box-shadow: 55px 1665px #fff, 1058px 843px #fff, 965px 1141px #fff,
    1730px 1494px #fff, 335px 342px #fff, 94px 67px #fff, 979px 1791px #fff,
    1106px 664px #fff, 1180px 1974px #fff, 32px 1288px #fff, 1325px 1972px #fff,
    1715px 1715px #fff, 1277px 1430px #fff, 1550px 40px #fff, 971px 314px #fff,
    617px 1866px #fff, 1780px 1830px #fff, 1508px 1167px #fff,
    1965px 1581px #fff, 978px 1026px #fff, 387px 1650px #fff, 174px 1640px #fff,
    1779px 886px #fff, 965px 1621px #fff, 1419px 1956px #fff, 1235px 1965px #fff,
    1862px 1683px #fff, 1950px 489px #fff, 1789px 175px #fff, 279px 16px #fff,
    1789px 1071px #fff, 811px 501px #fff, 626px 379px #fff, 1748px 1088px #fff,
    369px 1935px #fff, 1390px 150px #fff, 757px 765px #fff, 382px 1448px #fff,
    1810px 1074px #fff, 1913px 288px #fff, 295px 758px #fff, 17px 1881px #fff,
    1053px 144px #fff, 649px 1070px #fff, 172px 306px #fff, 1792px 1808px #fff,
    942px 1725px #fff, 1394px 1059px #fff, 980px 892px #fff, 226px 866px #fff,
    1328px 106px #fff, 1079px 1797px #fff, 1539px 1423px #fff, 270px 1996px #fff,
    704px 1675px #fff, 932px 1556px #fff, 1595px 48px #fff, 881px 751px #fff,
    1907px 1403px #fff, 1740px 343px #fff, 504px 513px #fff, 201px 891px #fff,
    250px 1140px #fff, 1873px 481px #fff, 1061px 683px #fff, 1280px 1338px #fff,
    1808px 573px #fff, 1958px 574px #fff, 18px 1589px #fff, 192px 1356px #fff,
    408px 1643px #fff, 616px 929px #fff, 302px 1945px #fff, 1503px 1994px #fff,
    1420px 1380px #fff, 1796px 1120px #fff, 1144px 480px #fff, 432px 1511px #fff,
    893px 1398px #fff, 910px 935px #fff, 376px 549px #fff, 1432px 1294px #fff,
    1342px 320px #fff, 496px 551px #fff, 204px 1039px #fff, 1330px 154px #fff,
    355px 873px #fff, 1559px 1125px #fff, 700px 1778px #fff, 231px 379px #fff,
    979px 620px #fff, 438px 325px #fff, 940px 1936px #fff, 1830px 1609px #fff,
    167px 895px #fff, 526px 1279px #fff, 1343px 1634px #fff, 1583px 1604px #fff,
    552px 792px #fff, 899px 472px #fff;
  animation: animStar 300s linear infinite;
}
.stars3:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 5px;
  height: 5px;
  background: transparent;
  box-shadow: 55px 1665px #fff, 1058px 843px #fff, 965px 1141px #fff,
    1730px 1494px #fff, 335px 342px #fff, 94px 67px #fff, 979px 1791px #fff,
    1106px 664px #fff, 1180px 1974px #fff, 32px 1288px #fff, 1325px 1972px #fff,
    1715px 1715px #fff, 1277px 1430px #fff, 1550px 40px #fff, 971px 314px #fff,
    617px 1866px #fff, 1780px 1830px #fff, 1508px 1167px #fff,
    1965px 1581px #fff, 978px 1026px #fff, 387px 1650px #fff, 174px 1640px #fff,
    1779px 886px #fff, 965px 1621px #fff, 1419px 1956px #fff, 1235px 1965px #fff,
    1862px 1683px #fff, 1950px 489px #fff, 1789px 175px #fff, 279px 16px #fff,
    1789px 1071px #fff, 811px 501px #fff, 626px 379px #fff, 1748px 1088px #fff,
    369px 1935px #fff, 1390px 150px #fff, 757px 765px #fff, 382px 1448px #fff,
    1810px 1074px #fff, 1913px 288px #fff, 295px 758px #fff, 17px 1881px #fff,
    1053px 144px #fff, 649px 1070px #fff, 172px 306px #fff, 1792px 1808px #fff,
    942px 1725px #fff, 1394px 1059px #fff, 980px 892px #fff, 226px 866px #fff,
    1328px 106px #fff, 1079px 1797px #fff, 1539px 1423px #fff, 270px 1996px #fff,
    704px 1675px #fff, 932px 1556px #fff, 1595px 48px #fff, 881px 751px #fff,
    1907px 1403px #fff, 1740px 343px #fff, 504px 513px #fff, 201px 891px #fff,
    250px 1140px #fff, 1873px 481px #fff, 1061px 683px #fff, 1280px 1338px #fff,
    1808px 573px #fff, 1958px 574px #fff, 18px 1589px #fff, 192px 1356px #fff,
    408px 1643px #fff, 616px 929px #fff, 302px 1945px #fff, 1503px 1994px #fff,
    1420px 1380px #fff, 1796px 1120px #fff, 1144px 480px #fff, 432px 1511px #fff,
    893px 1398px #fff, 910px 935px #fff, 376px 549px #fff, 1432px 1294px #fff,
    1342px 320px #fff, 496px 551px #fff, 204px 1039px #fff, 1330px 154px #fff,
    355px 873px #fff, 1559px 1125px #fff, 700px 1778px #fff, 231px 379px #fff,
    979px 620px #fff, 438px 325px #fff, 940px 1936px #fff, 1830px 1609px #fff,
    167px 895px #fff, 526px 1279px #fff, 1343px 1634px #fff, 1583px 1604px #fff,
    552px 792px #fff, 899px 472px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(-2000px);
  }
  to {
    transform: translateY(0px);
  }
}
