@font-face {
  font-family: 'Game Over';
  src: url('./fonts/Game Over.ttf');
}

@font-face {
  font-family: 'Unimono';
  src: url('./fonts/unifont.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
