:root {
  --mandarin: #ed7e4b;
  --violet: #453d52;
  --corn: #f2e86d;
  --grey: #d4d4d4;
  --superiority: #669bbc;
  --content-width: 83vw;
  --baby-powder: #FCFEF6;
}

body {
  font-size: 18px;
}

* {
  box-sizing: border-box;
}
