:root {
  --mandarin: #ed7e4b;
  --mint: #e4f1ec;
  --violet: #453d52;
  --corn: #f2e86d;
  --grey: #d4d4d4;
  --superiority: #669bbc;
  --content-width: 83vw;
}

body {
  font-size: 18px;
}

@media only screen and (max-width: 720px) {
  body {
    font-size: 14px;
  }
}

* {
  box-sizing: border-box;
}
